<div id="container">
  <form id="form-area" name="form" method="POST" action="/new">
    <h1>Let's do this</h1>

    <div class="all-fields">
      <section class="form-left">
        <label for="authorName">Author’s Name : </label>
        <input id="authorName" type="text" name="authorName" required />

        <label for="textMessage">Message : </label>
        <textarea id="textMessage" type="text" name="textMessage" required>
        </textarea>
      </section>
    </div>
    <div class="final-form-pos">
      <button type="button" id="btn-cancel" onclick="location.href='/'">
        Cancel
      </button>
      <button type="submit" id="btn-signin">Send</button>
    </div>
  </form>
</div>
