<div id="container">
<form id="form-area" name="form">
    <h1>Let's do this</h1>

    <div class="all-fields">
        <section class="form-left">
            <label for="authorName">Author’s Name : </label>
            <input id="authorName" type="text" name="authorName" required>

            <label for="textMessage">Message : </label>
            <input id="textMessage" type="text" name="textMessage" required>

        </section>
    </div>
    <div class="final-form-pos">
        <button type="submit" id="signin">Send</button>
    </div>

</form>
</div>