<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Create Messages</title>
  <link rel="stylesheet" href="css/base.css" />
  <link rel="stylesheet" href="css/pages/create-msg.css" />  
</head>

<body>
  <div class="container">
    <div class="login-card">

      <h1 class="title">Create Message</h1>

      <form action="/create-msg" method="POST">
        <div class="input-group">
          <label for="title">Title</label>
          <input id="title" name="title" placeholder="title" type="text" required />
        </div>
        <div class="input-group">
          <label for="description">Description</label>
          <textarea name="description" id="description" required></textarea>
        </div>
        <div class="btn-form">
          <button class="btn" type="submit">Send</button>
        </div>
 
      </form>

    </div>

  </div>

</body>

</html>