<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login</title>
  <link rel="stylesheet" href="css/base.css" />
  <link rel="stylesheet" href="css/pages/member-join.css" />  
</head>

<body>
  <div class="container">
    <div class="login-card">

      <h1 class="title">Enter the secret code to become a member of the club.</h1>

      <p>The secret code to become a member of the club is your user name</p>
      <% if (locals.incorrect) {%>
        <p class="msgIncorrect"> <%= locals.incorrect  %> </p>
      <% } %>  
      
      <form action="/member-join" method="POST">
        <div class="input-group">
          <label for="secret-code">Secret code </label>
          <input id="secret-code" name="secretCode" placeholder="secret code" type="password" required />
        </div>
        <div class="btn-form">
          <button class="btn" type="submit">Submit</button>
        </div>
 
      </form>

    </div>

  </div>

</body>

</html>