
.box-products {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: 16px;
  margin: 20px 0 20px 0;
  flex-wrap: wrap;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 200px;
  /* margin: auto; */
  text-align: center;
  font-family: arial;
}

.price {
  color: var(--white-color);
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: var(--primary-color);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.img-card {
  width: 150px;
  height: 150px;
}
.card p {
  font-size: 1.2rem;
}
.card button:hover {
  background: var(--tertiary-color);
  opacity: 0.7;
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transform: scale(1.01);
}