# Local Netlify folder
.netlify
node_modules
package-lock.json
.env

admin-dashboard  
mini-message-board
basic-node
my-first-react-app
calculator       
odin-recipes
Etch-a-Sketch    
project-library
homepage         
rock-papper-scissors
sign-up
inventory        
testing-practice
members-only     
weather-app
LICENSE          
index.html       
README.md

