@font-face {
  font-family: "myNorce-Bold";
  src: url(Norse-Bold.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  min-width: 100vw;
}

:root {
  font-family: "myNorce-Bold";
  font-size: 14px;

}

#container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
  

 
  