<div class="container-search">
  <form class="form-search" name="form" method="GET" action="/search?req.body">
    <div class="all-fields">
      <section class="form-up">
        <label for="messageUser">Search User</label>
        <input class="username" type="text" name="username" required />
      </section>
      <div class="final-form-pos">
        <button type="button" class="btn-cancel" onclick="location.href='/'">
          Cancel
        </button>
        <button class="btn-send">Send</button>
      </div>
    </div>
  </form>
</div>
