<footer>
  <p>Copyright © github.com/Jose-C0 2025</p>
  <a href="https://github.com/Jose-C0" target="_blank">
    <img src="images/github-mark.png" alt="https://github.com/Jose-C0" />
  </a>
</footer>