header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

.grid-index {
  display: grid;
  grid-template:
    "header"
    "main"
    "footer";
  grid-template-rows: 0fr 1fr 0fr;
}

/* NAV  */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--primary-color);
}

.container-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  font-size: 18px;
  padding: 12px;
  margin: 0px;
  width: 100%;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 16px;
}

nav a {
  color: var(--white-color);
  text-decoration: none;
}

nav .right-links /*a*/ {
  font-size: 1.8rem; 
  color: var(--white-color);

}

nav .left-links {
  display: flex;
  align-items: center;
  font-size: 2rem;
  color: var(--white-color);

}

.right-links a:hover {
  box-shadow: var(--tertiary-color) 0px 0px 0px 13px;
  background: var(--tertiary-color);
}

.img-odin {
    max-inline-size: 100%;
    block-size: auto;
    object-position: top center;
    height: auto;
    /* max-width: 2vw; */
    width: 30px;
} 
/* FOOTER */

footer {
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  /* margin: 10vh; */
  background-color: var(--primary-color);
}

footer img {
  width: 40px;
  height: 40px;
}
