@font-face {
  font-family: "myNorce-Bold";
  src: url(Norse-Bold.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  /* border: 2px solid darkorchid;  */
}

body {
  max-height: 100vh;
  max-width: 100vw;
  margin: 0;
  padding: 0;
  font-family: Open sans-serif;
}

:root {
  font-size: 18px;
  --color-black: black;
  --color-white: #fefefe;
  --color-gray: hwb(221 7% 85% / 0.658);
  --color-blue: #0891b2;
  --color-gray-input: #a1a1aa;
  --color-background: #e0e7ff;
  --footer-background: #0891b2;
}

nav,
footer,
.section-1 {
  color: #e5e7eb;
  background: #1f2937;
  padding: 12px;
  margin: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

/* NAV  */
.container {
  color: #e5e7eb;
  font-size: 18px;
  padding: 12px;
  margin: 0px;
  width: 400px;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 16px;
}

.left-links a {
  color: #f9faf8;
  text-decoration: none;
  font-size: 24px;
}

.right-links a {
  color: #e5e7eb;
  text-decoration: none;
  font-size: 18px;
}

/* CONTAINER ABOUT */
.box-contact-me .icons-social-network > svg {
  width: 40px;
  height: 40px;
}
.box-contact-me {
  display: grid;
  row-gap: 18px;
  column-gap: 10px;
  padding: 30px;
  grid-template:
    ". imgFooter" 30px
    "cont-footer imgFooter" auto
    "icons imgFooter" 1fr
    ". imgFooter" auto;
}

.cont-footer {
  grid-area: cont-footer;
}
.icons-social-network {
  grid-area: icons;
  justify-content: flex-start;
}
.img-profile {
  grid-area: imgFooter;
  height: 25rem;
  width: 20rem;
  margin: 10px 0 0 0;
}
