body {
  height: 100vh;
  margin: 0;
  font-family: Open sans-serif;
  overflow: auto;
  background-size: cover;
  background-color: rgb(255, 255, 255);
  
}

.container-calculator {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px;
}

#calculator{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.5em;

  /* width: 500px;
  height:  500px;
  box-shadow: 5px 4px 20px 5px rgba(0, 0, 0, 0.274); */

}
#display {
  background-color: rgba(25, 118, 210, 0.836);
  height: fit-content;
  color: white;
  grid-column: 1/6;
}
