@font-face {
  font-family: "myNorce-Bold";
  src: url(Norse-Bold.otf);
}
* {
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
  position: relative;
  /* border: 2px solid darkorchid;*/
}

body {
  max-height: 100vh;
  max-width: 100vw;
  margin: 0;
  padding: 0;
  font-family: Open sans-serif;
}

:root {
  font-size: 18px;
  --color-black: black;
  --color-white: #fefefe;
  --color-gray: hwb(221 7% 85% / 0.658);
  --color-blue: #0891b2;
  --color-gray-input: #a1a1aa;
  --color-background: #e0e7ff;
  --footer-background: #0891b2;
}
h1 {
  margin-bottom: 0;
  font-size: clamp(2.5rem, 8vh, 3.5rem);
}

main {
  background-color: var(--color-white);
  display: grid;
  grid-template:
    "section1" auto
    "section2" auto
    "footer" auto;
  overflow: auto;
  row-gap: 8vh;
}

/* SECTION 1  */
.section-1 {
  grid-area: section1;
}

.box-sec-1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

  margin-bottom: 70px;
}

.container-image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 30px 10px 0 10px;
}
.background-s1 {
  background-color: var(--color-blue);
  width: 100vw;
  height: clamp(25rem, 25.5rem, 30rem);
  position: absolute;
  top: 0;
  z-index: 1;
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0% 100%);
}
.img-profile {
  height: 500px;
  width: 300px;
  object-fit: cover;
  z-index: 2;
}

.name-profile {
  position: absolute;
  color: var(--color-white);
  font-size: 4rem;
  top: 80%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
}
.cont-tex-1 {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  text-align: center;
}

.cont-tex-1 p {
  margin: 0 0 20px 0;
  font-size: clamp(0.5rem, 6vh, 2rem);
  color: #565656;
  padding: 0px 10px 0 10px;
}

.icons-social-network {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}
/* SECTION 2  */
.section-2 {
  grid-area: section2;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}

.container-box-sec-2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 73px;
}

.box {
  box-shadow: 0 4px 8px 6px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 80%;
}

.box:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.img-card {
  background-color: #ca7599;
  color: var(--color-white);
  display: flex;
  font-size: 3rem;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
  height: 15rem;
}

.title-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 1.5rem;
  padding-top: 10px;
}

.description-card {
  display: flex;
  flex-direction: column;
  gap: 25px;
  height: 12rem;
}
.txt-card {
  font-size: 1.2rem;
  color: var(--color-gray-input);
  padding: 0 3vw 0 4vw;
}

/* FOOTER */
footer {
  background-color: var(--footer-background);
  grid-area: footer;
  color: var(--color-white);
}
.cont-footer h1 {
  width: 100%;
  justify-content: center;
  text-align: center;
}
.cont-footer {
  display: flex;
  flex-direction: column;
  padding: calc(5%);
  align-items: flex-start;
  gap: 18px;
}

.initial-part-footer {
  font-size: 1.3rem;
}

footer .img-profile {
  width: 100%;
}

footer .icons-social-network {
  margin-bottom: 90px;
}
