@media (min-width: 900px) {
  /* SECTION 1  */
  .section-1 {
    display: flex;
    justify-content: center;
  }

  .box-sec-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
  }

  .container-image {
    display: block;
    /* width: 300px; */
    padding: 0;
  }
  .background-s1 {
  }
  .img-profile {
    height: 70vh;
    width: 30vw;
    float: none;
    margin: 0;
  }

  .name-profile {
    position: absolute;
    color: var(--color-white);
    font-size: clamp(2.8rem, 2.9rem, 4rem);
    transform: translate(-50%, -50%);
    text-wrap: pretty;
    top: 80%;
    left: 50%;
    z-index: 2;
  }
  .cont-text-1 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: flex-start;
    width: 60%;
    height: 90%;
    padding: 12px 25px 0 20px;
    z-index: 3;
    text-align: left;
    margin: 0px -80px 0 0px;

    gap: 4px;
    overflow: auto;
  }

  h1 {
    margin-bottom: 0;
    /*  font-size: 3.3rem;   */
  }

  .cont-text-1 p {
    display: block;
    font-size: clamp(1.1rem, 1vw + 0.1rem, 0.6rem);
    text-wrap: wrap;
    margin: 0;
    /* margin: 0 0 20px 0; */
    padding: 0;
  }

  .icons-social-network {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 20px;
    width: 100%;
  }
  .icons-social-network > svg {
    width: 30px;
    height: 30px;
  }

  /* SECTION 2  */
  .section-2 {
  }

  .container-cards-sec-2 {
    grid-template-columns: repeat(3, 1fr);
  }
  .txt-card {
    padding: 0 1rem 0 1rem;
  }
  .icons-social-network.sec-2 {
    width: fit-content;
  }

  /* FOOTER  */
  footer {
  }
  footer .img-profile {
    width: 500px;
  }
}

@media only screen and (min-width: 899px) and (max-width: 1025px) {
  .container-cards-sec-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    justify-items: center;
  }
}
