@media (min-width: 700px) {
  /* SECTION 1  */
  .section-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .background-s1 {
    height: clamp(34rem, 34.5rem, 36rem);
  }
  .box-sec-1 {
    display: block;
    top: 0%;
  }
  .container-image {
    display: block;
    z-index: 4;
    margin: 0 0 0 -8%;
  }
  .img-profile {
    height: 500px;
    width: 400px;
    float: left;
    margin: 0 15px 0 0;
    object-fit: cover;
  }
  .name-profile {
    top: 247%;
    left: min(79%, 29rem);
    text-wrap: nowrap;
  }
  .cont-tex-1 {
    background: var(--color-white);
    display: block;
    width: min(100vw - 40px, 77vw);
    z-index: 3;
    margin: 17% 0% 0 7%;
    height: max-content;
    padding-bottom: 30px;
    padding-top: 6rem;
    box-shadow: 0 4px 8px 6px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
  }

  /* SECTION 2  */
  .section-2 {
    align-items: flex-start;
  }

  .container-box-sec-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 38px;
  }
  .box {
    width: 300px;
  }

  /* FOOTER  */
  footer {
    display: grid;
    row-gap: 18px;
    column-gap: 10px;
    padding: 30px;
    grid-template:
      ". imgFooter" 30px
      "cont-footer  imgFooter" auto
      "icons imgFooter" 1fr
      ". imgFooter" auto;
  }
  footer .img-profile {
    grid-area: imgFooter;
    width: 300px;
    height: 29rem;
    margin: 10px 0 0 0;
  }
  .cont-footer {
    grid-area: cont-footer;
    padding: 0;
  }
  footer .icons-social-network {
    grid-area: icons;
    justify-content: flex-start;
  }
  .cont-footer h1 {
    width: 100%;
    text-align: left;
  }
  footer .icons-social-network > svg {
    width: 40px;
    height: 40px;
  }
}
