@media (min-width: 600px) {
  /* SECTION 1  */
  .section-1 {
    background-color: tomato;
  }
  .box-sec-1 {
    flex-direction: row;
    justify-content: center;
  }
  .container-image {
    z-index: 4;
  }
  .img-profile {
    height: 300px;
    width: 250px;
    object-fit: cover;
    float: left;
  }
  .name-profile {
  }
  .cont-tex-1 {
    color: var(--color-black);
    background: var(--color-white);
    position: absolute;
    height: 50vh;
    width: 80vw;
    z-index: 3;
    padding-left: 20px;
  }

  /* SECTION 2  */
  .section-2 {
  }

  /* FOOTER  */
  footer {
    background-color: firebrick;
    display: block;
  }
}
