@font-face {
  font-family: "myNorce-Bold";
  src: url(Norse-Bold.otf);
}

body {
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
  font-family: Open sans-serif;
  overflow: auto;
  /*border: 1px solid red;
    */
}

:root {
  font-size: 18px;
  --color-black: black;
  --color-white: #ffffff;
  --color-gray: hwb(221 7% 85% / 0.658);
  --color-blue: #2563eb;
  --color-gray-input: #a1a1aa;
  --color-background: #e0e7ff;
}

main {
  display: grid;
  grid-template-areas:
    "section1"
    "section2"
    "footer";
  grid-template-rows: 90vh 90vh 30vh;
}

/* SECTION 1  */
.section-1 {
  background-color: tomato;
  grid-area: section1;
}

.box-sec-1 {
  display: flex;
  position: static;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 12px;
  /* flex-wrap: wrap;
  flex-direction: row;
  align-items: center; */

  /* grid-template-columns: 1fr 1fr;
  grid-gap: 0px;
  grid-template-rows: 200px 200px; */
}

.cont-tex-1 {
  color: var(--color-black);

  background: var(--color-background);
  height: 50vh;
  width: 680px;
  padding-left: 20px;

  /* top: 4vh; */
  /* grid-column: 2; */
}

.cont-tex-1 p {
  font-size: calc(1rem + 2px);
}

.img-profile {
  height: 400px;
  width: 400px;
  object-fit: cover;
}

/* SECTION 2  */

.section-2 {
  grid-area: section2;
  /* display: grid; */
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 100px);
  align-content: revert;
  /* padding-left: 125px; */
  display: flex;
  /* position: static; */
  flex-direction: column;
  align-items: flex-start;
  justify-self: center;
}

.section-2 h1 {
  grid-column: 1;
  color: #1f2937;
  /* text-align: center; */
  font-size: 36px;
}

.box {
  width: 150px;
}
.container-box-sec-2 {
  grid-row: 2;
  grid-auto-rows: 250px;
  grid-column: 1 / span 3;
  display: grid;
  grid-template-columns: repeat(3, 200px);
}

/* .container-box-sec-2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 73px;
} */

.card {
  border-radius: 25px;
  width: 102px;
  height: 120px;
  border: 4px solid #3882f6;
  padding-right: 30px;
}

.card img {
  border-radius: 20px;
}

.box .text {
  padding: 0;
  margin: 0;
  width: 150px;
  font-size: 18px;
  text-align: center;
  color: #3882f6;
}

/* FOOTER  */
footer {
  background-color: firebrick;
  grid-area: footer;
  display: block;
}

/*
footer,
.section-1 {
  color: #e5e7eb;
  background: #1f2937;
  padding: 12px;
  margin: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
 
/* SECTION 1 
.box-sec-1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;

  align-items: center;
  padding: 12px;
 gap: 10px;
} 


.container-sec-1 {
  color: var(--color-black);
  font-size: 18px;
  background: var(--color-background);
  height: 50vh;
  width: 680px;
  padding-left: 20px;
}

.container-image {
  width: auto;
  height: auto;
}

.container-image img {
  height: 40vh;
  width: 40vw;
}

.container-sec-1 h1 {
  margin: 0;
  margin-top: 10px;
  width: 230px;
  font-weight: 800;
}

.container-sec-1 p {
  margin: 0;
  margin-bottom: 10px;
}

/* SECTION 2 
.section-2 {
  background: #ffff;
  padding: 12px;
  margin: 0px;
  grid-area: section-2;
 
   display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap; 
  
}

.section-2 h1 {
  color: #1f2937;
  text-align: center;
  font-size: 36px;
}

.container-box-sec-2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 73px;
}

.card {
  border-radius: 25px;
  width: 102px;
  height: 120px;
  border: 4px solid #3882f6;
  padding-right: 30px;
}

.card img {
  border-radius: 20px;
}

.box .text {
  padding: 0;
  margin: 0;
  width: 150px;
  font-size: 18px;
  text-align: center;
  color: #3882f6;
}

*/
