body {
  background-color: rgb(255, 255, 255);
  height: 100vh;


  /* TODO: fix */
  /* background-image: url("./img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: luminosity; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
}

/* main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
} */

.container {
  background: aquamarine;
  display: grid;
  grid-template-columns: repeat(auto-fit,
      minmax(155px, 2fr));
  gap: 12px;
  padding: 1px 10px 12px 10px;
}

/* border: 2px solid red; */
/*
.card {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  padding: 12px;
  border-left: 12px solid red;
  justify-content: center;
}
*/
.card {
  display: grid;
  border: 2px solid red;
  border-radius: 12px;
  grid-template-rows: 70px 100px 40px;
  /* grid-template-rows: repeat(2, minmax(12vh, 70px)); */
 
}

.card:hover {
  border-left: 12px solid greenyellow;
  border-right: 12px solid greenyellow;

}

.title {
  background-color: aliceblue;
  grid-row-start: 1;
  grid-row-end: 2;
  font-size: calc(1em + 1vw);
  line-height: 1em;
 

}

.info-card {
  background-color: tan;
  grid-row-start: 2;
  grid-row-end: 3;
  /* font-size: calc((1em - 5px) + 1vw); */
  font-size: calc(1em + 0.5vh);
  
}

 
.options-card {
  background-color: tomato;
  grid-row-start: 3;
  grid-row-end: 4;
}