body {
  position: relative;
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  background: var(--primary-color);
  --primary-color: #F0EDCF;
  --secondary-color: hsl(209, 88%, 37%);
  --tertiary-color: hsla(201, 66%, 55%, 0.239);
  --red-color-off: rgba(203, 19, 19, 0.816);
  --red-color-on: hsl(0, 100%, 50%);
}

h1 {
  text-align: center;
  padding: 30px 0 30px 0;
}

button {
  cursor: pointer;
  border: none;
  font-weight: 600;
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit,
      minmax(155px, 2fr));
  gap: 12px;
  padding: 1px 10px 12px 10px;
}

.card {
  display: grid;
  border-left: 10px solid var(--secondary-color);
  border-radius: 12px;
  grid-template-rows: 70px 100px 40px;
  background-color: var(--tertiary-color)
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transform: scale(1.01); 
}

.title {
  grid-row-start: 1;
  grid-row-end: 2;
  line-height: 1em;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: calc(1em + 1vh);
 
 }


.info-card {
  grid-row-start: 2;
  grid-row-end: 3;
  font-size: clamp(14px, calc(1em + 0.3vw), calc(1em + 0.8vw));
  text-overflow: ellipsis;
  overflow: hidden;

  border-top: 2px solid var(--primary-color);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom: 2px solid var(--primary-color);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: rgb(0 0 0 / 24%) 1px 0px 4px 0px;

}

.info-card-span {
  font-weight: 800;
}

.options-card {
  grid-row-start: 3;
  grid-row-end: 4;
  display: flex;
  justify-content: end;
  gap: 12px;
  padding-right: 8px;
  align-items: center;

}

.options-card button{
  
  display: inline-block;
  padding: 5px;

  border: none;
  color: white;
  border-radius: 5px;
  text-align: center;
  font-size: calc(1em - 2px);
  font-weight: 700;
  width: 75px;
  height: 30px;

}

.options-card .btn-edit{
  background-color: hsl(0deg 0% 1.57% / 76.86%);

}

.options-card .btn-edit:active{
  background: hsl(0, 0%, 2%);
}

.options-card .btn-delete {
  background-color: var(--red-color-off);
}

.options-card .btn-delete:active{
  background: var(--red-color-on);
  color: #ddd;

}


/* =================== Start: SECTION MODAL ==================*/
.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 0.4rem;
  width: 70vw;
  min-height: 150px;
  padding: 1.3rem;
  position: fixed;
  z-index: 2;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 15px;
  top: 40vh;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-up {
  display: flex;
  width: 60vw;
  justify-content: flex-end;

}

.modal-main {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  margin: 0.6rem 0 0.6rem;
  width: 60vw;
  padding: 0 8px 8px 8px;

}

.modal input {
  padding: 0.7rem 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 0.9em;
  background: var(--primary-color);
}

.modal p {
  font-size: 0.9rem;
  color: #777;
  margin: 0.4rem 0 0.2rem;
}



.btn {
  padding: 0.8rem 1.4rem;
  font-weight: 700;
  background-color: var(--secondary-color);
  color: white;
  border-radius: 5px;
  text-align: center;
  font-size: 1em;
}

.btn:hover,
.btn-open:hover,
.btn-reset:hover
{
  transform: scale(0.925); 

}

.btn-open {
  position: fixed;
  bottom: 8vh;
  right: 11px;
  font-size: calc(3em);

  padding: 0.5rem 0.7rem;
  border-radius: 50%;
  display: inline-block;
  background-color: var(--secondary-color);
  color: white;
  text-align: center;
  text-decoration: none;
  width: 70px;
  height: 70px;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.hidden {
  display: none;
}

.btn-close {
  padding: 0.5rem 0.7rem;
  background: #eee;
  border-radius: 50%;
}


.btn-close:hover{
  background: var(--red-color-on);
  color: azure;
}

.secWasReading {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.modal-down{
  display: flex;
  justify-content: flex-end;
  gap: 14px;
}

.textRed {
  color: red;
}


/* =================== End: SECTION MODAL ==================*/

