<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Mini message</title>
  <link rel="stylesheet" href="./styles.css">
  <link rel="icon" type="image/x-icon" href="./images/message-icon.png">
</head>

<body>
  <main>
    <h1>Mini Message Board</h1>

    <div class="container">
      <% messages.forEach(item => { %>
        <dl class="card">
          <dt class="info-card-span author">
            <%= item.user %>
          </dt>
          <dt class="info-card-span text">
            <%= item.text %>
          </dt>
          <dt class="info-card-span added">
            <%= item.added %>
          </dt>
          <div class="options-card info-card-span">
            <button 
            onclick="location.href='/detailMessages/<%= item.id%>'"
            class="btn-detail"
            type="button"
            >
            Detail
            </button>
          </div>
        </dl>
        <% }) %>

    </div>
     
    <button class="btn-open" onclick="location.href='/new'">+</button>
  </main>

</body>

</html>