* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  min-height: 100vh;
  background: var(--body-bg);
  color: var(--text-white);
}

:root {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 12px;
  --body-bg: #131313; /* background body */
  --text-white: #ffffff; /* Text white */
  --primary-color: #1e1e1e; /* Color principal */
  --secondary-color: #1561f0; /* Color secundario */

  --tertiary-color: hsla(201, 66%, 55%, 0.239);
  --white-color: hsla(0, 0%, 100%, 0.61);
  --red-color-off: rgba(0, 13, 255, 0.816);
  --red-color-on: hsl(0, 100%, 50%);
}
