.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding: 20px;
  max-width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;
  border-radius: 10px;
  padding: 50px 50px;
  overflow: hidden;
  width: fit-content;
  background-color: var(--primary-color);
  box-shadow: 0px 0px 20px rgb(0 0 0);
}

.title {
  font-size: 40px;
  text-align: center;
  color: var(--text-white);
}

.input-group {
  margin-bottom: 16px;
}

.input-group label {
  display: block;
  margin: 0 0 6px 0;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-family: "Roboto", sans-serif;
}

.btn-form {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.btn-form .btn {
  padding: 10px 20px;
  background-color: var(--secondary-color);
  color: var(--text-white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-form .btn:hover {
  background-color: var(--tertiary-color);
  transform: scale(1.05);
}

.or {
  text-align: center;
  margin: 8px 0 8px 0;
  font-size: 14px;
  color: #999;
}

.sign-up-link {
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 20px;
}

.sign-up-link a {
  color: var(--secondary-color);
}

.sign-up-link a:hover {
  color: var(--red-color-on);
} 

@media (max-width: 768px) {
  .container {
    top: 45%;
  }
}
