body {
  height: 100vh;
  margin: 0;
  font-family: Open sans-serif;
  overflow: auto;
}

 
.options {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.section-1{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
} /* margin-top: 10px; */

.box-sec-1 {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
  padding: 12px;
  gap: 27px;
}

#text-right{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 10px; 
  width: 170px;
  font-size: large;

}

#grid-container{
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  width: 500px;
  height:  500px;
}

.options button {
  width: 170px;
  height: 47px;
  font-size: 20px;
  padding: 0px;
  border: 2px solid #ccc;
  outline: none;
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
  color: rgb(44, 69, 182);
  background-color: #ffffff;
  transition: all 0.3s ease-in-out;
}

.options button:hover {
  background-color: rgb(92, 112, 192);
  color: rgba(44, 69, 182, 0.788);
}  

.box{
  border: 1px solid rgb(0, 0, 0);
}


h1{
  text-align: center;
  margin: auto;
  font-size: 40px;
}