<div id="container">
  <form class="form-area" name="form" method="POST" action="/new">
    <h1>Create user</h1>
    <div class="all-fields">
      <section class="form-up">
        <label for="messageUser">User Name </label>
        <input id="username" type="text" name="username" required />
      </section>
      <div class="final-form-pos">
        <button type="button" class="btn-cancel" onclick="location.href='/'">
          Cancel
        </button>
        <button class="btn-send">Send</button>
      </div>
    </div>
  </form>
</div>
