<nav>
  <div class="container-nav">
    <ul class="left-links">
      <li><a href="/">Logo</a></li>
      <li><a href="/">Groceries Inventory</a></li>
    </ul>
    <ul class="right-links">
      <li><a href="/products"> Products </a></li>
      <li><a href="/categories"> Categories </a></li>
    </ul>
  </div>
</nav>
