* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
}

#inner-container {
  width: 1000px;
  border-radius: 5px;
  padding: 20px;
}

.text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
  font-size: 15px;
  padding: 10px;
  outline: none;
  border-radius: 10px;
}

.container-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  padding: 16px;
  margin: 16px;
  width: 440px;
  height: 310px;
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0, 0, 0, .06);
  border-radius: 4px;
}

.btn-container-rps button {
  width: 132px;
  height: 141px;
  font-size: 20px;
  padding: 0px;
  border: 2px solid #ccc;
  outline: none;
  border-radius: 10px;
  margin-top: 20px;
  cursor: pointer;
  color: rgb(182, 44, 44);
  background-color: #ffffff;
  transition: all 0.3s ease-in-out;
}

.btn-container-rps button:hover {
  background-color: #f1f1f1;
  color: #9e7d7d;
}

.btn-container-rps {
  display: flex;
  justify-content: center;
  align-items: center;
}


/*
  ############################################
*/
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto;  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  gap: 16px;
  padding: 16px;

}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 70%;
  box-shadow: 2px 4px 16px rgba(0, 0, 0, .2);
  border-radius: 10px; /* Could be more or less, depending on screen size */
  display: flex;
  flex-direction: column;
}

/* The Close Button */
.close {
  background: #eee;
  border-radius: 50%;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  height: 24px;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #eee;
  padding: 0;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-start {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.modal-content button {
  background: royalblue;
  border: 1px solid royalblue;
  color: white;
}

.continue {
  width: 20%;
  cursor: pointer;
  padding: 10px 16px;
  border-radius: 8px;
}

.continue:hover {
  background: #fd1717;
}

/*
.continue {
  background: royalblue;
  border: 1px solid royalblue;
  color: royalblue;
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 8px;
  width: 30%;

}
*/